<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page {
            background: url(media/images/bina.jpg);

           
        }

       
    </style>
</head>
<body>
    {% load math_tags %}
    <p>.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table style="margin-bottom: 13rem;">
        <tr>
            <td>
                <p style="margin-left: 7rem;">{{subcompany.name}}</p>
                <p style="margin-left: 7rem;">{{subcompany.line1}}</p>
                <p style="margin-left: 7rem;">{{subcompany.line2}}</p>
                <p style="margin-left: 7rem;">{{subcompany.line3}}</p>
                <p style="margin-left: 7rem;">{{subcompany.line4}}</p>
            </td>
            <td>
                <p style="margin-left: 24rem;">{{subcompany.Invoicenumber}}</p>
            </td>
            <td>
                <p style="margin-left: 11.6rem;">{{subcompany.invoicedate}}</p>
            </td>
           
        </tr>

    </table>

    <table style="margin-bottom: 21.5rem;">
        <tr>
            <td>
                <p style="margin-left: 7rem;">{{subcompany.head_company.name}}</p>
                <p style="margin-left: 7rem;">{{subcompany.head_company.line1}}</p>
                <p style="margin-left: 7rem;">{{subcompany.head_company.line2}}</p>
                <p style="margin-left: 7rem;">{{subcompany.head_company.line3}}</p>
                <p style="margin-left: 7rem;">{{subcompany.head_company.line4}}</p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="margin-left: 7rem;">{{subcompany.head_company.description}}</td>
            <td style="margin-left: 26.4rem;">{{subcompany.weight}}</td>
            <td style="margin-left: 14.5rem;">£{{subcompany.head_company.unit_price}}</td>
            <td style="margin-left: 6.1rem;">
                {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
                £{{a|mul:b}}       
         
        {% endwith %}
            </td>
        </tr>
    </table>

    <p style="margin-top: 11.8rem; margin-left: 46rem;">£{{subcompany.weight}}</p>
    <p style="margin-left: 65rem; margin-top: 1rem;">
        {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
                £{{a|mul:b}}       
         
        {% endwith %}
    </p>
    <p></p>

</body>
</html>