{% extends 'base.html' %}

{% block title %} Client Company {% endblock %}

{% block content %}  

<style>
   
    .activebutton
    {
      background: #FFC107;
      color:white;
    }

    .activeclient
    {
      background: #5ADBB5;
    }

</style>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Update Weight</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'updatemyclientweight' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="myInputWeight" name="myid">
          <input type="number" name="weight" step="0.01" id="weight" class="form-control mb-3">
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Update Weight</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Update Invoice Number</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'updatemyclientinvoice' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="myInputNumber" name="myid">
          <input type="number" name="invoicenumber" id="invoicenumber" class="form-control mb-3">
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Update Invoice Number</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel3">Update Invoice Date</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'updatemyclientinvoicedate' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="myInputDate" name="myid">
          <input type="date" name="invoicedate" id="invoicedate" class="form-control mb-3">
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Update Invoice Date</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          {% for fm in form  %}
            {{fm.label_tag}} {{fm}} <br>
          {% endfor %}
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex companyviewbutton mt-4 ms-4">
      <a href="{% url 'subcompanyone' myid %}" class="btn btn-outline-info me-3">Subcompany</a>
      <a href="{% url 'clientcompanyone' myid %}" class="btn btn-outline-warning activebutton">Clientcompany</a>
</div>

<div class="clientviewcompany mb-4">
    <h1>Client Conpmany</h1>
  </div>
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul class="mb-0">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  <div class="container formneed">
  <form action="{% url 'updateclient' myid %}" method="post">
    {% csrf_token %}
    
      <input type="date" name="date" placeholder="Value Around">
      <button type="submit" class="btn btn-info">Update</button>
  </form>
  </div>



    
    <div class="container-fluid mt-4 tableview mt-5">
      <button type="button " class="btn btn-primary ms-4 addcom" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add Client Company
      </button>

      <a  href="{% url 'previoussubclient' myid %}" class="btn btn-primary exportbtn ms-4 me-4" >
        Previous Data
      </a>

      <a  href="/exportclientcompany" class="btn btn-primary exportbtn ms-4" >
          Export
      </a>

      {% if myid == 3 %}
      <a  href="#" class="btn btn-primary exportbtn" onclick="openLinks(event)" >
        All Pdf Download
      </a>
  
      <a  href="#" class="btn btn-primary exportbtn me-4" onclick="openLinksSplit(event)" >
        All Split Download
      </a>
      {% elif myid == 4 %}
      <a  href="#" class="btn btn-primary exportbtn" onclick="openLinksBiofuelWood(event)" >
        All Pdf Download
      </a>
  
      <a  href="#" class="btn btn-primary exportbtn me-4" onclick="openLinksSplitBiofuelWood(event)" >
        All Split Download
      </a>
      {% elif myid == 5 %}
      <a  href="#" class="btn btn-primary exportbtn" onclick="openLinksBiofuelPlastic(event)" >
        All Pdf Download
      </a>
  
      <a  href="#" class="btn btn-primary exportbtn me-4" onclick="openLinksSplitBiofuelPlastic(event)" >
        All Split Download
      </a>
      {% endif %}
  
    <table data-replace="jtable" id="example" aria-label="JS Datatable" data-locale="en" data-search="true">
      
      </div>
              <thead>
                  <tr>
                     
                      <th>Name  </th>
                      <th>Line1  </th>
                      <th>Line2  </th>
                      <th>Line3  </th>
                     
                      <th>Weight  </th>
                      <th>Invoicenumber  </th>
                      <th>Invoicedate  </th>
                      <th>Date  </th>
                      <th>Template  </th>
                      <th>Choose Template  </th>
                      <th>Split  </th>
                      <th>Edit  </th>
                  </tr>
              </thead>
              <tbody>
                  {% for sub in  clientview %}
                  <tr>
                    
                      <td>{{sub.name}}</td>
                      <td>{{sub.line1}}</td>
                      <td>{{sub.line2}}</td>
                      <td>{{sub.line3}}</td>
                    
                     
                      <td>{{sub.weight}} <a
                        href="#"
                        class="btn btn-info"
                        onclick="showModelwithWeight('{{sub.id}}')"
                        >Edit</a
                      ></td>
                      
                      
                      <td>{{sub.Invoicenumber}} <a
                        href="#"
                        class="btn btn-info"
                        onclick="showModelwithNumber('{{sub.id}}')"
                        >Edit</a
                      ></td>
                      <td>{{sub.invoicedate}} <a
                        href="#"
                        class="btn btn-info"
                        onclick="showModelwithDate('{{sub.id}}')"
                        >Edit</a
                      ></td>
                      <td>{{sub.date}}</td>
                      <td><a href="/{{sub.urlname}}/{{sub.id}}" class="btn btn-warning">Download</a></td>
                      <td><div class="dropdown">
                        <button class="dropbtn">Invoice</button>
                        <div class="dropdown-content">
                          <a href="{% url 'createpdfclient' sub.id %}">Template 1</a>
                        </div>
                      </div></td>
                      <td><a href="{% url 'clientcompnaysplit' sub.id %}" class="btn btn-warning">Split</a></td>
                      <td><div class="d-flex"><a href="{% url 'clientcompanyupdate' id=sub.id id2=myid %}" class="btn btn-info me-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <a href="{% url 'clientcompanydelete' id=sub.id id2=myid %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div></td>
                  {% endfor %}
                  </tr>
              </tbody>
          </table>
      </div>
  
      </div>


      <script>
        function showModelwithWeight(myid) {
          $("#exampleModal1").modal("show");
          const inputField = document.getElementById('myInputWeight');
          inputField.value = myid;
      
        }
  
       
      </script>
  
      <script>
        function showModelwithNumber(myid) {
          $("#exampleModal2").modal("show");
          const inputField = document.getElementById('myInputNumber');
          inputField.value = myid;
      
        }
      </script>

      <script>
        function showModelwithDate(myid) {
          $("#exampleModal3").modal("show");
          const inputField = document.getElementById('myInputDate');
          inputField.value = myid;
      
        }
      </script>


      <script>
        function openLinks(event) {
          event.preventDefault();
          var links = [
            "{% url 'createpdfclient' 10 %}",
            "{% url 'createpdfclient' 11 %}",
            "{% url 'createpdfclient' 12 %}",
            "{% url 'createpdfclient' 13 %}",
            
            // Add more URL patterns here
          ];
    
          links.forEach(function(url) {
            window.open(url, "_blank");
          });
        }
      </script>
  
      <script>
        function openLinksSplit(event) {
          event.preventDefault();
          var links = [
            "{% url 'clientcompnaysplit' 10 %}",
            "{% url 'clientcompnaysplit' 11 %}",
            "{% url 'clientcompnaysplit' 12 %}",
            "{% url 'clientcompnaysplit' 13 %}",
          ];
    
          links.forEach(function(url) {
            window.open(url, "_blank");
          });
        }
      </script>

{% comment %} 2nd {% endcomment %}

<script>
  function openLinksBiofuelWood(event) {
    event.preventDefault();
    var links = [
      "{% url 'createpdfclient_one' 14 %}",
      "{% url 'createpdfclient_one' 15 %}",
      "{% url 'createpdfclient_one' 16 %}",
      "{% url 'createpdfclient_one' 17 %}",
      "{% url 'createpdfclient_one' 18 %}"
      
      // Add more URL patterns here
    ];

    links.forEach(function(url) {
      window.open(url, "_blank");
    });
  }
</script>

<script>
  function openLinksSplitBiofuelWood(event) {
    event.preventDefault();
    var links = [
      "{% url 'clientcompnaysplit' 14 %}",
      "{% url 'clientcompnaysplit' 15 %}",
      "{% url 'clientcompnaysplit' 16 %}",
      "{% url 'clientcompnaysplit' 17 %}",
      "{% url 'clientcompnaysplit' 18 %}"
    ];

    links.forEach(function(url) {
      window.open(url, "_blank");
    });
  }
</script>


{% comment %} 3rd {% endcomment %}

<script>
  function openLinksBiofuelPlastic(event) {
    event.preventDefault();
    var links = [
      "{% url 'createpdfclient_one' 19 %}",
      "{% url 'createpdfclient_one' 20 %}",
      "{% url 'createpdfclient_one' 21 %}",
      "{% url 'createpdfclient_one' 22 %}",
      "{% url 'createpdfclient_one' 23 %}"
      
      // Add more URL patterns here
    ];

    links.forEach(function(url) {
      window.open(url, "_blank");
    });
  }
</script>

<script>
  function openLinksSplitBiofuelPlastic(event) {
    event.preventDefault();
    var links = [
      "{% url 'clientcompnaysplit' 19 %}",
      "{% url 'clientcompnaysplit' 20 %}",
      "{% url 'clientcompnaysplit' 21 %}",
      "{% url 'clientcompnaysplit' 22 %}",
      "{% url 'clientcompnaysplit' 23 %}"
    ];

    links.forEach(function(url) {
      window.open(url, "_blank");
    });
  }
</script>


{% endblock %}

