{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}  

<style>
    table{
        width:100%;
    }
    .activebutton
    {
      background: #FFC107;
      color:white;
    }
    .activeclient
    {
      background: #5ADBB5;
    }

</style>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          {% for fm in form  %}
            {{fm.label_tag}} {{fm}} <br>
          {% endfor %}
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex companyviewbutton mt-4 ms-4">
      <a href="{% url 'subcompanyone' myid %}" class="btn btn-outline-info me-3">Subcompany</a>
      <a href="{% url 'clientcompanyone' myid %}" class="btn btn-outline-warning activebutton">Clientcompany</a>
</div>

<div class="clientviewcompany mb-4">
    <h1>Client Conpmany</h1>
  </div>
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul class="mb-0">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  <div class="container formneed">
  <form action="{% url 'updateclient' myid %}" method="post">
    {% csrf_token %}
      <input type="number" name="upadtenumber" placeholder="Weight">
      <select aria-label="Default select example" name="numberview">
        <option value="50">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
       
      </select>
      <input type="date" name="date" placeholder="Value Around">
      <button type="submit" class="btn btn-info">Update</button>
  </form>
  </div>



    
    <div class="container-fluid mt-4 tableview mt-5">
      <button type="button " class="btn btn-primary ms-4 addcom" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add Client Company
      </button>
      <a  href="/exportclientcompany" class="btn btn-primary exportbtn" >
          Export
      </a>
  
    <table data-replace="jtable" id="example" aria-label="JS Datatable" data-locale="en" data-search="true">
      
      </div>
              <thead>
                  <tr>
                      <th>Sno. <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Name<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Line1<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Line2<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Line3<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Line4<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Weight<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Invoicenumber<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Invoicedate<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Date<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Template<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Choose Template<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Split<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                      <th>Edit<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  </tr>
              </thead>
              <tbody>
                  {% for sub in  clientview %}
                  <tr>
                      <td>{{sub.id}}</td>
                      <td>{{sub.name}}</td>
                      <td>{{sub.line1}}</td>
                      <td>{{sub.line2}}</td>
                      <td>{{sub.line3}}</td>
                      <td>{{sub.line4}}</td>
                     
                      <td>{{sub.weight}}</td>
                      
                      
                      <td>{{sub.Invoicenumber}}</td>
                      <td>{{sub.invoicedate}}</td>
                      <td>{{sub.date}}</td>
                      <td><a href="/{{sub.urlname}}/{{sub.id}}" class="btn btn-warning">Download</a></td>
                      <td><div class="dropdown">
                        <button class="dropbtn">Invoice</button>
                        <div class="dropdown-content">
                          <a href="{% url 'createpdfclient' sub.id %}">Template 1</a>
                        </div>
                      </div></td>
                      <td><a href="{% url 'clientcompnaysplit' sub.id %}" class="btn btn-warning">Split</a></td>
                      <td><div class="d-flex"><a href="{% url 'clientcompanyupdate' id=sub.id id2=myid %}" class="btn btn-info me-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <a href="{% url 'clientcompanydelete' id=sub.id id2=myid %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div></td>
                  {% endfor %}
                  </tr>
              </tbody>
          </table>
      </div>
  
      </div>

{% endblock %}

