<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS</title>
    <style>
        @page {
            background: url(media/images/ds.jpg);
           
        }
    </style>
</head>
<body>
    {% load math_tags %}
    <p>.</p>
    <br>
    <br>
    <br>
    <br>

    <table style="margin-bottom: 5.7rem;">
        <tr>
            <td>
                <p style="margin-left: 3.8rem; font-size:16px; font-weight:bolder">{{subcompany.name}}</p>
                <p style="margin-left: 5.4rem;font-size:11px;" >{{subcompany.line1}}</p>
                <p style="margin-left: 5.4rem;font-size:11px;">{{subcompany.line2}}</p>
                <p style="margin-left: 5.4rem;font-size:11px;">{{subcompany.line3}}</p>
                <p style="margin-left: 5.4rem;font-size:11px;">{{subcompany.line4}}</p>
            </td>
            <td>
                <br>
                <br>
                <br>
                
                <p style="margin-left: 18rem; margin-top: 10pt !important; font-size:13px; font-weight:bolder;">{{subcompany.Invoicenumber}}</p>
            </td>
            <td>
                <br>
                <br>
                <br>
                <p style="margin-left: 8.7rem; font-size:13px; font-weight:bolder;">{{subcompany.invoicedate}}</p>
            </td>
           
        </tr>

    </table>

    <table style="margin-bottom: 13rem;">
        <tr>
            <td>
                <p style="margin-left: 4.9rem; font-size:12px;">{{subcompany.head_company.name}}</p>
                <p style="margin-left: 4.9rem;font-size:12px;">{{subcompany.head_company.line1}}</p>
                <p style="margin-left: 4.9rem;font-size:12px;">{{subcompany.head_company.line2}}</p>
                <p style="margin-left: 4.9rem;font-size:12px;">{{subcompany.head_company.line3}}</p>
                <p style="margin-left: 4.9rem;font-size:12px;">{{subcompany.head_company.line4}}</p>
            </td>
        </tr>
    </table>
        <p style="margin-left: 4.5rem; font-size:15px;">{{subcompany.head_company.description}} PACKAGING</p>
        <br>
        <br>
        <br>
        <br>
        
    <table>
        <tr>
            <td style="margin-left: 5.9rem; font-size:12px;">{{subcompany.head_company.description}}</td>
            <td style="margin-left: 21.5rem; font-size:12px;">{{subcompany.weight}}</td>
            <td style="margin-left: 13.5rem; font-size:12px;">{{subcompany.head_company.unit_price|floatformat:2}}</td>
            <td style="margin-left: 6.5rem; font-size:12px;">
                {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
                £{{a|mul:b}}       
         
        {% endwith %}
            </td>
        </tr>
    </table>

    <p style="margin-top: 11.5rem; margin-left: 35rem; font-size:13px;">{{subcompany.weight}}</p>
    <p style="margin-left: 40.8rem; margin-top: 1.7rem; font-size:16px; font-weight:bolder;">
        {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
                £{{a|mul:b}}       
         
        {% endwith %}
    </p>
    <p></p>

</body>
</html>