{% extends 'base.html' %}





{% block content %}
<style>
    .card{
        border: 1px solid #5ADBB5 !important;
        border-radius:1rem !important;
        height:10rem !important;
    }
    .card h3{
        color:black !important;
    }
    .card h6{
        color:grey !important;
    }
</style>
   <div class="container mt-5">
        <div class="row">
            {% for com in head %}
            <div class="col-lg-4">
                <a href="{% url 'subcompanyone' com.id %}">
                <div class="card text-center p-4 mb-4">
                    <h3 class='fw-bolder'>{{com.name}}</h3>
                    <h6>{{com.short_name}}</h6>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}

