{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="pdfkit-page-size" content="A4">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypdf.css' %}" media="print">
   
    <title>{% block title %} {% endblock %}</title>

    
  </head>
  <body >

   <table style="border:2pt solid black; padding:2rem" >
    <tr>
        <td> <span style="font-size:28pt; color:grey"> {{subcompany.name}} </span> <br> <span style="font-size:17pt">{{subcompany.line1}}</span>  <br> {{subcompany.line2}} <br> {{subcompany.line3}} <br> {{subcompany.line4}}</td>
        <td><span style="font-size:23pt; color:grey">Invoice</span> <br> <br> <span style="border:2pt solid black;">{{subcompany.invoicedate}}</span> <br> <br> <span style="border:2pt solid black;">{{subcompany.Invoicenumber}}</span></td>
        
    </tr>
        
   </table>

   <table style="margin-top:20pt">
    <tr>
        <td> <span style="font-size:15pt; color:green"> To </span> <br> <hr> <span style="font-size:15pt;">{{subcompany.head_company.name}}</span> <br> <span>{{subcompany.head_company.line1}}</span> <br> <span>{{subcompany.head_company.line2}}</span> <br> <span>{{subcompany.head_company.line3}}</span> <br>  <span>{{subcompany.head_company.line4}}</span> </td>
    </tr>
   </table>
   {% load math_tags %}
   <table style="margin-top:20pt; border:1pt solid black; padding:1rem; text-align:center">
        <tr>
          <th>Description</th>
          <th>QTY.</th>
          <th>Unit Price</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>{{subcompany.head_company.description}}</td>
          <td>{{subcompany.weight}}</td>
          <td>{{subcompany.head_company.unit_price}}</td>
          <td>{% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
            {{ a|mul:b }}       
         
        {% endwith %}</td>
        </tr>
        
   </table>
  
   {% load math_tags %}
   <table style="margin-top:20pt">
      <tr>
        <td></td>
        <td style="font-size:15pt;">Subtotal: {{subcompany.weight}}</td>
        <td></td>
        <td style="font-size:15pt;">Balance:{% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
          {{ a|mul:b }}       
       
      {% endwith %}</td>
      </tr>
   </table>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/datatable.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
