<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLP</title>
    <style>
        @page {
            background-image: url(media/images/KLP.jpg);
        }
    </style>
</head>
<body>
    {% load math_tags %}
    <p>.</p>
    <br>
    <table >
        <tr>
            <td>
                <p style="margin-left: 12.7rem; color:blue; font-weight:bolder;">{{subcompany.head_company.name}}</p>
                <p style="margin-left: 12.7rem;">{{subcompany.head_company.line1}}</p>
                <p style="margin-left: 12.7rem;">{{subcompany.head_company.line2}}</p>
                <p style="margin-left: 12.7rem;">{{subcompany.head_company.line3}}</p>
                <p style="margin-left: 12.7rem;">{{subcompany.head_company.line4}}</p>
            </td>
            <td>
                <br>
                <br>
                <p style="margin-left: 13rem; font-weight:bolder">Invoice Number: <span>{{subcompany.Invoicenumber}}</span></p>
                <p style="margin-left: 13rem; font-weight:bolder">Invoice Ref: <span>New Horizon</span></p>
                <p></p>
            </td>
        </tr>
    </table>
    <p style="margin-left: 77rem; margin-top: 30px; font-size:8px; font-weight:bolder;">{{subcompany.invoicedate}}</p>
    <table style="margin-top: 5.4rem;">
        <tr>
            <td><p style="margin-left: 16rem; font-size:8px; font-weight:bolder;">{{subcompany.head_company.description}} Packaging</p></td>
            <td><p style="margin-left: 29.3rem; font-weight:bolder;">{{subcompany.weight}}</p></td>
            <td><p style="margin-left: 15rem; font-weight:bolder;">£{{subcompany.head_company.unit_price}}</p></td>
            <td><p style="margin-left: 2.8rem; font-weight:bolder;">
                {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
                    £{{a|mul:b}}       
                {% endwith %}
            </p></td>
        </tr>
    </table>

    <p style="margin-top: 20.4rem; margin-left: 48.2rem; font-weight:bolder">{% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
        £{{a|mul:b}}       
 
{% endwith %}</p>
    <p style="margin-top: 5.2rem; margin-left: 48.2rem; font-weight:bolder">{% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
        £{{a|mul:b}}       
 
{% endwith %}</p>
</body>
</html>