<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page {
            background: url(media/images/S&S.jpg);

           
        }

       
    </style>
</head>
<body>
    {% load math_tags %}
    <p>.</p>
    <p style="margin-top: 123pt; margin-left: 480pt; color:blue; font-weight:bolder">{{subcompany.invoicedate}}</p>
    <p style="margin-top: 20pt; margin-left: 480pt; margin-bottom: 80pt; color:blue; font-weight:bolder">{{subcompany.Invoicenumber}}</p>
    
    <table>
        <tr >
            <td>
                <p style="margin-left: 10pt; color:grey;">{{subcompany.name}}</p>
                <p style="margin-left: 10pt; color:grey;">{{subcompany.line1}}</p>
                <p style="margin-left: 10pt; color:grey;" >{{subcompany.line2}}</p>
                <p style="margin-left: 10pt; color:grey;">{{subcompany.line3}}</p>
                <p style="margin-left: 10pt; color:grey;">{{subcompany.line4}}</p>
            </td>
            <td>
                <p style="margin-left: -135pt;">{{subcompany.head_company.name}}</p>
                <p style="margin-left: -135pt;">{{subcompany.head_company.line1}}</p>
                <p style="margin-left: -135pt;">{{subcompany.head_company.line2}}</p>
                <p style="margin-left: -135pt;">{{subcompany.head_company.line3}}</p>
                <p style="margin-left: -135pt;">{{subcompany.head_company.line4}}</p>
            </td>
        </tr>
    </table>

    <table style="margin-top: 5.9rem;">
        <tr>
            <td><p style="margin-left: 23rem;">{{subcompany.head_company.description}}</p></td>
            <td><p style="margin-left: 32rem;">{{subcompany.weight}}</p></td>
            <td><p style="margin-left: 17rem;">£{{subcompany.head_company.unit_price}}</p></td>
            <td><p style="margin-left: 6rem;">
                {% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
                £{{a|mul:b}}       
         
        {% endwith %}
            </p></td>
        </tr>
    </table>

    <p style="margin-top: 19.7rem; margin-left: 385pt;">£{{subcompany.weight}}</p>

    <p style="margin-top: 2rem; margin-left: 495pt; font-weight:bolder">{% with a=subcompany.weight b=subcompany.head_company.unit_price %}
            
        
        £{{a|mul:b}}       
     
    {% endwith %}</p>

</body>
</html>