{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}  

<style>
    table{
        width:100%;
    }
    .activebutton
    {
      background: #0DCAF0;
      color:white;
    }
</style>



<div class="container mt-4 text-center mb-4">
    <h1> {{splitcompany.name}} Company</h1>
  </div>


  <div class="container formneed mb-4">
    <form action="{% url 'subcompnaysplit' splitcompany.id %}" method="post">
      {% csrf_token %}
        <input type="number" name="rangenumbermin" placeholder="Range Min" step="0.01">
        <input type="number" name="rangenumber" placeholder="Range Max" step="0.01">
        <input type="date" name="date" placeholder="Value Around">
        <button type="submit" class="btn btn-info">Update</button>
    </form>
    </div>
  
  
 <div class="container">
  <a  href="{% url 'exportsplitcompany' splitcompany.id %}" class="btn btn-primary mb-3" >
    Export
</a>
  <table data-replace="jtable" id="example" aria-label="JS Datatable" data-locale="en" data-search="true">
    
  </div>
          <thead>
              <tr>
                 
                  <th>Date Time<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  <th>Drop_time<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  <th>Vehicle<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  <th>Drop<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  <th>Weight<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                  
              </tr>
          </thead>
          <tbody>
              {% for sub in  subsplitview %}
             
              <tr>
                
                  <td>{{sub.date_time}}</td>
                  <td>{{sub.drop_time}}</td>
                  <td>{{sub.vehicle}}</td>
                  
                  <td>{{sub.drop}}</td>
                  <td>{{sub.weight}}</td>

                  
                  
                </tr>
              {% endfor %}
              
          </tbody>
      </table>
  
    </div>


    <div style="margin-bottom: 10rem;"></div>



{% endblock %}

