{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}  

<style>
    table{
        width:100%;
    }
    .activebutton
    {
      background: #0DCAF0;
      color:white;
    }
    .activesub
    {
      background: #5ADBB5;
    }
    
</style>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Update Invoice Date</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'updateinvoicce_date' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="myInput" name="myid">
          <input type="date" name="date" id="date" class="form-control mb-3">
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Update Invoice Date</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Update Invoice Number</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'updateinvoicce_number' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="myInputNumber" name="myid">
          <input type="number" name="invoicenumber" id="invoicenumber" class="form-control mb-3">
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Update Invoice Number</button>
          </div>
        </form>
      </div>
    
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          {% for fm in form  %}
            {{fm.label_tag}} {{fm}} <br>
          {% endfor %}
          <div class="text-center">
              <button type="submit" class="btn btn-info col-6">Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="companyviewbutton mt-4 ms-4">
      <a href="{% url 'subcompanyone' myid %}" class="btn btn-outline-info me-3 activebutton">Subcompany</a>
      <a href="{% url 'clientcompanyone' myid %}" class="btn btn-outline-warning">Clientcompany</a>
</div>

<div class="container mt-4 text-center mb-4">
    <h1>Sub Company</h1>
  </div>
 
 

  <div class="container formneed">
    {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <ul class="mb-0">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
  <form action="{% url 'updatesub' myid %}" method="post">
    {% csrf_token %}
      <input type="number" name="upadtenumber" placeholder="Weight">
      <select aria-label="Default select example" name="numberview">
        <option value="50">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
       
      </select>
      <input type="date" name="date" placeholder="Value Around">
      <button type="submit" class="btn btn-info">Update</button>
  </form>
  </div>

<div class="container-fluid mt-4 tableview">
  <button type="button " class="btn btn-primary ms-4 addcom" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Sub Company
</button>
    <a  href="{% url 'exportsubcompanyhead' myid %}" class="btn btn-primary exportbtn" >
        Export
    </a>

    <form method="post" enctype="multipart/form-data" action="{% url 'import-excel-subcompany' %}" class="mb-3">
      {% csrf_token %}
      <div class="d-flex">
        <input type="file" name="file" class="form-control w-50">
        <input type="submit" value="Import" class="btn  btn-info ms-3">
      </div>
      
    </form>

  <table data-replace="jtable" id="example" aria-label="JS Datatable" data-locale="en" data-search="true">
    
    </div>
            <thead>
                <tr>
                    <th>Name<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Line1<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Line2<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Line3<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Line4<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Weight<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Invoicenumber<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Invoicedate<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Template<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Choose Template<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Split<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                    <th>Action<i class="fa fa-arrow-circle-down" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for sub in  subview %}
                <tr>
                    
                    <td>{{sub.name}}</td>
                    <td>{{sub.line1}}</td>
                    <td>{{sub.line2}}</td>
                    <td>{{sub.line3}}</td>
                    <td>{{sub.line4}}</td>
                   
                    <td>{{sub.weight}}</td>
                    
                    
                    <td>{{sub.Invoicenumber}} <a
                      href="#"
                      class="btn btn-info"
                      onclick="showModelwithNumber('{{sub.id}}')"
                      >Edit</a
                    >
                    </td>
                    <td> <span>{{sub.invoicedate}} <a
                      href="#"
                      class="btn btn-info"
                      onclick="showModelwithDate('{{sub.id}}')"
                      >Edit</a
                    >
                    </span>  </td>
                 
                    <td><a href="/{{sub.urlname}}/{{sub.id}}" class="btn btn-warning">Download</a></td>
                    <td><div class="dropdown">
                      <button class="dropbtn">Invoice</button>
                      <div class="dropdown-content">
                        <a href="{% url 'createpdfsub' sub.id %}">S&S Management</a>
                        <a href="{% url 'createpdfsub_one' sub.id %}">WP Services</a>
                        <a href="{% url 'createpdfsub_two' sub.id %}">Bina Solutions</a>
                        <a href="{% url 'createpdfsub_three' sub.id %}">D&G Solutions</a>
                        <a href="{% url 'createpdfsub_four' sub.id %}">KLP Constructions</a>
                        <a href="{% url 'createpdfsub_five' sub.id %}">KT Plastic</a>
                        <a href="{% url 'createpdfsub_six' sub.id %}">Revolution</a>
                        <a href="{% url 'createpdfsub_seven' sub.id %}">PWR</a>
                      </div>
                    </div></td>
                    <td><a href="{% url 'subcompnaysplit' sub.id %}" class="btn btn-warning">Split</a></td>
                    <td> <div class="d-flex"><a href="{% url 'subcompanyupdate' id=sub.id id2=myid %}" class="btn btn-info me-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> <a href="{% url 'subcompanydelete' id=sub.id id2=myid %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div> </td>
                    
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    </div>



    <div style="margin-bottom: 10rem;"></div>

    <script>
      function showModelwithDate(myid) {
        $("#exampleModal1").modal("show");
        const inputField = document.getElementById('myInput');
        inputField.value = myid;
    
      }

     
    </script>

    <script>
      function showModelwithNumber(myid) {
        $("#exampleModal2").modal("show");
        const inputField = document.getElementById('myInputNumber');
        inputField.value = myid;
    
      }
    </script>

{% endblock %}

